{
  "env": {
    "development": {
      "presets": [
        "es2015",
        "env"
      ],
      "plugins": [
        "transform-class-properties",
        "add-module-exports"
      ]
    },
    "production": {
      "presets": [
        "es2015",
        "env",
        ["minify", {
          "builtIns": false
        }]],
      "plugins": [
        "transform-class-properties",
        "add-module-exports"
      ]
    }
  }
}
